In [415]:
# Import needed modules
import pandas as pd
import os

In [416]:
# Crime data set had to be pushed to GitHub in 4 parts due to size
crimepath1 = os.path.join('NYC Crime DataSet 1 CSV.csv')
crimepath2 = os.path.join('NYC Crime DataSet2 CSV.csv')
crimepath3 = os.path.join('NYC Crime DataSet3 CSV.csv')
crimepath4 = os.path.join('NYC Crime DataSet4 CSV.csv')
crimepath5 = os.path.join('NYC Crime DataSet5 CSV.csv')
covidpath = os.path.join('NYC', 'COVID-19_Daily_Counts_of_Cases__Hospitalizations__and_Deaths.csv')
dfcrime1 = pd.read_csv(crimepath1)
dfcrime2 = pd.read_csv(crimepath2)
dfcrime3 = pd.read_csv(crimepath3)
dfcrime4 = pd.read_csv(crimepath4)
dfcrime5 = pd.read_csv(crimepath5)
dfcovid1 = pd.read_csv(covidpath)

In [417]:
print(dfcrime1.columns == dfcrime2.columns)
print(dfcrime2.columns == dfcrime3.columns)
print(dfcrime3.columns == dfcrime4.columns)
print(dfcrime4.columns == dfcrime5.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True]

In [418]:
print(dfcrime1.columns)
dfcrime1.head()

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD',
       'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
       'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE',
       'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD',
       'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT',
       'Latitude', 'Longitude', 'Lat_Lon', 'PATROL_BORO', 'STATION_NAME',
       'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX'],
      dtype='object')

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,559727151,2/2/2020,12:30:00,NaN,NaN,43,2/6/2020,233,SEX CRIMES,175.0,...,M,NaN,40.823101,-73.869690,"(40.82310129900002, -73.86969046099993)",PATROL BORO BRONX,NaN,<18,WHITE HISPANIC,F
1,715980424,2/2/2020,22:30:00,2/3/2020,7:45:00,73,2/3/2020,341,PETIT LARCENY,321.0,...,NaN,NaN,40.668136,-73.903575,"(40.66813579100005, -73.90357490199995)",PATROL BORO BKLYN NORTH,NaN,45-64,BLACK,M
2,365309017,2/2/2020,9:00:00,2/2/2020,23:00:00,70,12/22/2020,109,GRAND LARCENY,405.0,...,U,NaN,40.628746,-73.969931,"(40.628746192000044, -73.96993051899994)",PATROL BORO BKLYN SOUTH,NaN,25-44,ASIAN / PACIFIC ISLANDER,F
3,976740059,2/2/2020,9:00:00,NaN,NaN,42,11/25/2020,233,SEX CRIMES,681.0,...,F,NaN,40.822570,-73.911307,"(40.82256991600008, -73.91130716899994)",PATROL BORO BRONX,NaN,<18,BLACK,M
4,692325417,2/2/2020,9:00:00,2/17/2020,9:00:00,18,11/30/2020,109,GRAND LARCENY,407.0,...,M,NaN,40.763133,-73.984205,"(40.76313286700002, -73.98420465299995)",PATROL BORO MAN SOUTH,NaN,UNKNOWN,UNKNOWN,D

In [419]:
# Because the 5 crime data sets are formatted the same way, they can be appended directly
#dfcrime = (((dfcrime1.append(dfcrime2)).append(dfcrime3)).append(dfcrime4)).append(dfcrime5)
dfcrime = pd.concat([dfcrime1, dfcrime2, dfcrime3, dfcrime4, dfcrime5], ignore_index=True)
# Make sure that number of rows is sum of four initial dataframes and that columns are unchanged
print(dfcrime1.shape)
print(dfcrime2.shape)
print(dfcrime3.shape)
print(dfcrime4.shape)
print(dfcrime5.shape)

print(dfcrime.shape)
print(dfcrime.columns == dfcrime1.columns)

(5999, 35)
(60099, 35)
(69999, 35)
(68517, 35)
(58004, 35)
(262618, 35)
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True]

In [420]:
# From crime set: want to keep CMPLNT_NUM as unique identifier, CMPLNT_FR_DT as date, OFNS_DESC as crime type
# PATROL_BORO as neighborhood, and columns with demographic info 

dfcrime = dfcrime.drop(columns=['CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD','PD_CD',
       'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
       'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE',
       'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD', 'TRANSIT_DISTRICT',
       'Latitude', 'Longitude', 'Lat_Lon', 'STATION_NAME'
       ])
dfcrime.head()

,CMPLNT_NUM,CMPLNT_FR_DT,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,559727151,2/2/2020,SEX CRIMES,UNKNOWN,WHITE HISPANIC,M,PATROL BORO BRONX,<18,WHITE HISPANIC,F
1,715980424,2/2/2020,PETIT LARCENY,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,45-64,BLACK,M
2,365309017,2/2/2020,GRAND LARCENY,UNKNOWN,UNKNOWN,U,PATROL BORO BKLYN SOUTH,25-44,ASIAN / PACIFIC ISLANDER,F
3,976740059,2/2/2020,SEX CRIMES,25-44,WHITE HISPANIC,F,PATROL BORO BRONX,<18,BLACK,M
4,692325417,2/2/2020,GRAND LARCENY,25-44,WHITE,M,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,D

In [421]:
# Cleaning Covid Data
print(dfcovid1.columns)
dfcovid1.head()

Index(['DATE_OF_INTEREST', 'CASE_COUNT', 'probable_case_count',
       'HOSPITALIZED_COUNT', 'DEATH_COUNT', 'DEATH_COUNT_PROBABLE',
       'CASE_COUNT_7DAY_AVG', 'all_case_count_7day_avg', 'HOSP_COUNT_7DAY_AVG',
       'DEATH_COUNT_7DAY_AVG', 'all_death_count_7day_avg', 'BX_CASE_COUNT',
       'bx_probable_case_count', 'BX_HOSPITALIZED_COUNT', 'BX_DEATH_COUNT',
       'bx_probable_death_count', 'BX_CASE_COUNT_7DAY_AVG',
       'bx_all_case_count_7day_avg', 'BX_HOSPITALIZED_COUNT_7DAY_AVG',
       'BX_DEATH_COUNT_7DAY_AVG', 'bx_all_death_count_7day_avg',
       'BK_CASE_COUNT', 'bk_probable_case_count', 'BK_HOSPITALIZED_COUNT',
       'BK_DEATH_COUNT', 'bk_probable_death_count', 'BK_CASE_COUNT_7DAY_AVG',
       'bk_all_case_count_7day_avg', 'BK_HOSPITALIZED_COUNT_7DAY_AVG',
       'BK_DEATH_COUNT_7DAY_AVG', 'bk_all_death_count_7day_avg',
       'MN_CASE_COUNT', 'mn_probable_case_count', 'MN_HOSPITALIZED_COUNT',
       'MN_DEATH_COUNT', 'mn_probable_death_count', 'MN_CASE_COUNT_7DAY_AVG',
       'mn_all_case_count_7day_avg', 'MN_HOSPITALIZED_COUNT_7DAY_AVG',
       'MN_DEATH_COUNT_7DAY_AVG', 'mn_all_death_count_7day_avg',
       'QN_CASE_COUNT', 'qn_probable_case_count', 'QN_HOSPITALIZED_COUNT',
       'QN_DEATH_COUNT', 'qn_probable_death_count', 'QN_CASE_COUNT_7DAY_AVG',
       'qn_all_case_count_7day_avg', 'QN_HOSPITALIZED_COUNT_7DAY_AVG',
       'QN_DEATH_COUNT_7DAY_AVG', 'qn_all_death_count_7day_avg',
       'SI_CASE_COUNT', 'si_probable_case_count', 'SI_HOSPITALIZED_COUNT',
       'SI_DEATH_COUNT', 'si_probable_death_count', 'SI_CASE_COUNT_7DAY_AVG',
       'si_all_case_count_7day_avg', 'SI_HOSPITALIZED_COUNT_7DAY_AVG',
       'SI_DEATH_COUNT_7DAY_AVG', 'si_all_death_count_7day_avg', 'INCOMPLETE'],
      dtype='object')

,DATE_OF_INTEREST,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
0,02/29/2020,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03/01/2020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,03/04/2020,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [422]:
# Want to keep date, case count (total and by borough), death count (total and by borough)
dfcovid = dfcovid1.drop(columns=[ 'probable_case_count',
       'HOSPITALIZED_COUNT',  'DEATH_COUNT_PROBABLE',
       'CASE_COUNT_7DAY_AVG', 'all_case_count_7day_avg', 'HOSP_COUNT_7DAY_AVG',
       'DEATH_COUNT_7DAY_AVG', 'all_death_count_7day_avg',
       'bx_probable_case_count', 'BX_HOSPITALIZED_COUNT', 
       'bx_probable_death_count', 'BX_CASE_COUNT_7DAY_AVG',
       'bx_all_case_count_7day_avg', 'BX_HOSPITALIZED_COUNT_7DAY_AVG',
       'BX_DEATH_COUNT_7DAY_AVG', 'bx_all_death_count_7day_avg',
       'bk_probable_case_count', 'BK_HOSPITALIZED_COUNT',
       'bk_probable_death_count', 'BK_CASE_COUNT_7DAY_AVG',
       'bk_all_case_count_7day_avg', 'BK_HOSPITALIZED_COUNT_7DAY_AVG',
       'BK_DEATH_COUNT_7DAY_AVG', 'bk_all_death_count_7day_avg',
       'mn_probable_case_count', 'MN_HOSPITALIZED_COUNT',
        'mn_probable_death_count', 'MN_CASE_COUNT_7DAY_AVG',
       'mn_all_case_count_7day_avg', 'MN_HOSPITALIZED_COUNT_7DAY_AVG',
       'MN_DEATH_COUNT_7DAY_AVG', 'mn_all_death_count_7day_avg',
        'qn_probable_case_count', 'QN_HOSPITALIZED_COUNT',
        'qn_probable_death_count', 'QN_CASE_COUNT_7DAY_AVG',
       'qn_all_case_count_7day_avg', 'QN_HOSPITALIZED_COUNT_7DAY_AVG',
       'QN_DEATH_COUNT_7DAY_AVG', 'qn_all_death_count_7day_avg',
       'si_probable_case_count', 'SI_HOSPITALIZED_COUNT',
       'si_probable_death_count', 'SI_CASE_COUNT_7DAY_AVG',
       'si_all_case_count_7day_avg', 'SI_HOSPITALIZED_COUNT_7DAY_AVG',
       'SI_DEATH_COUNT_7DAY_AVG', 'si_all_death_count_7day_avg', 'INCOMPLETE'])
dfcovid.head()

,DATE_OF_INTEREST,CASE_COUNT,DEATH_COUNT,BX_CASE_COUNT,BX_DEATH_COUNT,BK_CASE_COUNT,BK_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
0,02/29/2020,1,0,0,0,0,0,1,0,0,0,0,0
1,03/01/2020,0,0,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,0,0,0,0,0,0,1,0,0,0
4,03/04/2020,5,0,0,0,1,0,2,0,2,0,0,0

In [423]:
# Let's check that date ranges in two data sets line up
dfcrime.head(-5)

,CMPLNT_NUM,CMPLNT_FR_DT,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,559727151,2/2/2020,SEX CRIMES,UNKNOWN,WHITE HISPANIC,M,PATROL BORO BRONX,<18,WHITE HISPANIC,F
1,715980424,2/2/2020,PETIT LARCENY,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,45-64,BLACK,M
2,365309017,2/2/2020,GRAND LARCENY,UNKNOWN,UNKNOWN,U,PATROL BORO BKLYN SOUTH,25-44,ASIAN / PACIFIC ISLANDER,F
3,976740059,2/2/2020,SEX CRIMES,25-44,WHITE HISPANIC,F,PATROL BORO BRONX,<18,BLACK,M
4,692325417,2/2/2020,GRAND LARCENY,25-44,WHITE,M,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,D
...,...,...,...,...,...,...,...,...,...,...
262608,476263205,9/29/2020,ROBBERY,18-24,BLACK,M,PATROL BORO QUEENS NORTH,25-44,WHITE,M
262609,702226515,9/29/2020,PETIT LARCENY,45-64,BLACK,F,PATROL BORO BKLYN NORTH,45-64,BLACK,F
262610,778560263,9/29/2020,CRIMINAL MISCHIEF & RELATED OF,UNKNOWN,UNKNOWN,U,PATROL BORO BRONX,25-44,BLACK,F
262611,362144148,9/29/2020,ASSAULT 3 & RELATED OFFENSES,45-64,BLACK,M,PATROL BORO BRONX,45-64,BLACK,M
262612,538117770,9/29/2020,CRIMINAL MISCHIEF & RELATED OF,UNKNOWN,UNKNOWN,U,PATROL BORO BKLYN NORTH,UNKNOWN,UNKNOWN,D

In [424]:
dfcovid.head(-5)

,DATE_OF_INTEREST,CASE_COUNT,DEATH_COUNT,BX_CASE_COUNT,BX_DEATH_COUNT,BK_CASE_COUNT,BK_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
0,02/29/2020,1,0,0,0,0,0,1,0,0,0,0,0
1,03/01/2020,0,0,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,0,0,0,0,0,0,1,0,0,0
4,03/04/2020,5,0,0,0,1,0,2,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,07/17/2021,333,5,59,1,109,0,56,1,75,3,34,0
505,07/18/2021,374,2,36,0,132,1,78,0,99,1,29,0
506,07/19/2021,777,5,106,1,262,3,166,0,166,1,77,0
507,07/20/2021,656,4,87,1,218,2,141,0,141,1,69,0
508,07/21/2021,813,0,111,0,280,0,176,0,188,0,58,0

In [425]:
# Crime data is Feb 2 2020 thru Sep 29 2020
# Covid data is Feb 29 2020 thru July 21 2021

# Let's trim crime data to start Feb 29 2020 
actualstarthead = dfcrime.loc[dfcrime['CMPLNT_FR_DT'] == '2/29/2020']
actualstart = actualstarthead.head(1).iloc[0].name
n = dfcrime['CMPLNT_FR_DT'].count() - actualstart
print(dfcrime['CMPLNT_FR_DT'].count())
print(n)
print(actualstart)
dfcrime = (dfcrime.tail(n)).rename(columns={'CMPLNT_FR_DT' : "DATE"})
dfcrime

262618
229683
32935

,CMPLNT_NUM,DATE,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
32935,798923821,2/29/2020,PETIT LARCENY,18-24,WHITE HISPANIC,M,PATROL BORO BRONX,65+,WHITE HISPANIC,M
32936,479875746,2/29/2020,ROBBERY,UNKNOWN,BLACK,M,PATROL BORO BKLYN NORTH,25-44,BLACK,M
32937,246890158,2/29/2020,OFF. AGNST PUB ORD SENSBLTY &,25-44,UNKNOWN,U,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,M
32938,125238605,2/29/2020,PETIT LARCENY,NaN,NaN,NaN,PATROL BORO STATEN ISLAND,65+,WHITE,F
32939,339344566,2/29/2020,GRAND LARCENY,NaN,NaN,NaN,PATROL BORO BRONX,25-44,WHITE HISPANIC,F
...,...,...,...,...,...,...,...,...,...,...
262613,269176196,9/29/2020,HARRASSMENT 2,45-64,WHITE,M,PATROL BORO BKLYN SOUTH,25-44,WHITE,F
262614,234139730,9/29/2020,DANGEROUS WEAPONS,25-44,WHITE,M,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,E
262615,796495481,9/29/2020,CRIMINAL MISCHIEF & RELATED OF,25-44,BLACK,F,PATROL BORO BKLYN NORTH,25-44,BLACK,F
262616,552821323,9/29/2020,PETIT LARCENY,UNKNOWN,BLACK,M,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,D
262617,232021509,9/29/2020,HARRASSMENT 2,45-64,BLACK,F,PATROL BORO BKLYN NORTH,45-64,BLACK,F

In [426]:
#trim covid data to end Sep 29 2020
dfcovid = dfcovid.head(dfcovid.loc[(dfcovid['DATE_OF_INTEREST'] == '09/30/2020')].index[0])
dfcovid = dfcovid.rename(columns={'DATE_OF_INTEREST':'DATE'})
dfcovid

,DATE,CASE_COUNT,DEATH_COUNT,BX_CASE_COUNT,BX_DEATH_COUNT,BK_CASE_COUNT,BK_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
0,02/29/2020,1,0,0,0,0,0,1,0,0,0,0,0
1,03/01/2020,0,0,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,0,0,0,0,0,0,1,0,0,0
4,03/04/2020,5,0,0,0,1,0,2,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,09/25/2020,457,4,49,2,188,0,68,1,124,1,28,0
210,09/26/2020,279,5,42,3,108,1,35,0,61,1,33,0
211,09/27/2020,382,2,32,0,181,2,35,0,106,0,28,0
212,09/28/2020,436,3,82,1,139,1,58,0,109,1,47,0
213,09/29/2020,686,7,64,3,334,2,81,0,174,2,33,0

In [427]:
# dates in slightly diff formats
newdates = []

for index,row in dfcovid.iterrows():
    if row['DATE'][3] == '0':
        row['DATE'] = row['DATE'][:3] + row['DATE'][4:]
    if row['DATE'][0] == '0':
        newdates.append(row['DATE'][1:])
dfcovid['DATE'] = newdates
dfcovid

,DATE,CASE_COUNT,DEATH_COUNT,BX_CASE_COUNT,BX_DEATH_COUNT,BK_CASE_COUNT,BK_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
0,2/29/2020,1,0,0,0,0,0,1,0,0,0,0,0
1,3/1/2020,0,0,0,0,0,0,0,0,0,0,0,0
2,3/2/2020,0,0,0,0,0,0,0,0,0,0,0,0
3,3/3/2020,1,0,0,0,0,0,0,0,1,0,0,0
4,3/4/2020,5,0,0,0,1,0,2,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,9/25/2020,457,4,49,2,188,0,68,1,124,1,28,0
210,9/26/2020,279,5,42,3,108,1,35,0,61,1,33,0
211,9/27/2020,382,2,32,0,181,2,35,0,106,0,28,0
212,9/28/2020,436,3,82,1,139,1,58,0,109,1,47,0
213,9/29/2020,686,7,64,3,334,2,81,0,174,2,33,0

In [428]:
# merge the two dataframes
merged = pd.merge(dfcrime, dfcovid, how='left')
merged

,CMPLNT_NUM,DATE,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,...,BX_CASE_COUNT,BX_DEATH_COUNT,BK_CASE_COUNT,BK_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
0,798923821,2/29/2020,PETIT LARCENY,18-24,WHITE HISPANIC,M,PATROL BORO BRONX,65+,WHITE HISPANIC,M,...,0,0,0,0,1,0,0,0,0,0
1,479875746,2/29/2020,ROBBERY,UNKNOWN,BLACK,M,PATROL BORO BKLYN NORTH,25-44,BLACK,M,...,0,0,0,0,1,0,0,0,0,0
2,246890158,2/29/2020,OFF. AGNST PUB ORD SENSBLTY &,25-44,UNKNOWN,U,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,M,...,0,0,0,0,1,0,0,0,0,0
3,125238605,2/29/2020,PETIT LARCENY,NaN,NaN,NaN,PATROL BORO STATEN ISLAND,65+,WHITE,F,...,0,0,0,0,1,0,0,0,0,0
4,339344566,2/29/2020,GRAND LARCENY,NaN,NaN,NaN,PATROL BORO BRONX,25-44,WHITE HISPANIC,F,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229678,269176196,9/29/2020,HARRASSMENT 2,45-64,WHITE,M,PATROL BORO BKLYN SOUTH,25-44,WHITE,F,...,64,3,334,2,81,0,174,2,33,0
229679,234139730,9/29/2020,DANGEROUS WEAPONS,25-44,WHITE,M,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,E,...,64,3,334,2,81,0,174,2,33,0
229680,796495481,9/29/2020,CRIMINAL MISCHIEF & RELATED OF,25-44,BLACK,F,PATROL BORO BKLYN NORTH,25-44,BLACK,F,...,64,3,334,2,81,0,174,2,33,0
229681,552821323,9/29/2020,PETIT LARCENY,UNKNOWN,BLACK,M,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,D,...,64,3,334,2,81,0,174,2,33,0
229682,232021509,9/29/2020,HARRASSMENT 2,45-64,BLACK,F,PATROL BORO BKLYN NORTH,45-64,BLACK,F,...,64,3,334,2,81,0,174,2,33,0

In [429]:
# Fill in empty values
for col in merged.columns:
    merged[col] = merged[col].fillna('N/A') 
merged

,CMPLNT_NUM,DATE,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,...,BX_CASE_COUNT,BX_DEATH_COUNT,BK_CASE_COUNT,BK_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
0,798923821,2/29/2020,PETIT LARCENY,18-24,WHITE HISPANIC,M,PATROL BORO BRONX,65+,WHITE HISPANIC,M,...,0,0,0,0,1,0,0,0,0,0
1,479875746,2/29/2020,ROBBERY,UNKNOWN,BLACK,M,PATROL BORO BKLYN NORTH,25-44,BLACK,M,...,0,0,0,0,1,0,0,0,0,0
2,246890158,2/29/2020,OFF. AGNST PUB ORD SENSBLTY &,25-44,UNKNOWN,U,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,M,...,0,0,0,0,1,0,0,0,0,0
3,125238605,2/29/2020,PETIT LARCENY,N/A,N/A,N/A,PATROL BORO STATEN ISLAND,65+,WHITE,F,...,0,0,0,0,1,0,0,0,0,0
4,339344566,2/29/2020,GRAND LARCENY,N/A,N/A,N/A,PATROL BORO BRONX,25-44,WHITE HISPANIC,F,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229678,269176196,9/29/2020,HARRASSMENT 2,45-64,WHITE,M,PATROL BORO BKLYN SOUTH,25-44,WHITE,F,...,64,3,334,2,81,0,174,2,33,0
229679,234139730,9/29/2020,DANGEROUS WEAPONS,25-44,WHITE,M,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,E,...,64,3,334,2,81,0,174,2,33,0
229680,796495481,9/29/2020,CRIMINAL MISCHIEF & RELATED OF,25-44,BLACK,F,PATROL BORO BKLYN NORTH,25-44,BLACK,F,...,64,3,334,2,81,0,174,2,33,0
229681,552821323,9/29/2020,PETIT LARCENY,UNKNOWN,BLACK,M,PATROL BORO MAN SOUTH,UNKNOWN,UNKNOWN,D,...,64,3,334,2,81,0,174,2,33,0
229682,232021509,9/29/2020,HARRASSMENT 2,45-64,BLACK,F,PATROL BORO BKLYN NORTH,45-64,BLACK,F,...,64,3,334,2,81,0,174,2,33,0

In [430]:
# Export to csv
merged.to_csv('merged_NYC_data.csv')